body {
  text-align: center;
  background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  display: block;
}
h1 {
  color: white;
  text-transform: uppercase;
}
.buswrap {
  background-color: white;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  width: 50%;
  border-radius: 2px;
  margin: 1rem auto;
  transition:  .3s all;
  
  display: flex;
  opacity: .8;
  justify-content: space-around;
  box-shadow: 0px 0px  #26a0da;
  &:hover {
    opacity: 1;
    box-shadow: 4px 4px  #26a0da;
    animation: App-logo-spin 2s infinite;
    
  }
  .busfrom {

  }
  .busto {

  }
}

@keyframes App-logo-spin {

  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(2deg);}
  100% {transform: rotate(0deg);}
}
